# 버전 관리 시스템 관련
.git
.gitignore

# IDE 및 편집기 관련 파일
.idea
.vscode
.DS_Store
**/*.swp

# 의존성 디렉터리 (이미 Dockerfile에서 설치할 예정)
node_modules
# 로그 및 임시 파일
**/*.tmp
npm-debug.log
yarn-error.log

# 빌드 산출물 및 캐시
coverage
cache
